{% extends 'core/base.html'%}
{% load crispy_forms_tags %}
{% load static %}

{% block js_includes %}
    <link rel="stylesheet" href="{% static 'core/css/tables.css' %}">
{% endblock %}

{% block content %}
   <div class="card">

        <div class="flex-row">
            <h2>Cases</h2>
            <a class="plain-link" id="new-case" href="{% url 'case-create' %}">
                <button class="button no-border forestgreen">
                    <i class="material-icons">add</i>
                    Case
                </button>
            </a>
        </div>

        <div class="inner-card">
            <table>
                <tbody>
                    <tr>
                         <th>
                              {%if user.is_superuser %}
                                  <button class="button no-border">
                                    <i class="material-icons">delete</i>
                                  </button>
                              {% endif %}
                            </th>
                        <th>Title</th>
                        <th>Create Date</th>
                        <th>
                            Last Update
                        </th>
                        <!--<th>
                            Go To
                        </th>-->
                    </tr>
                    {% if cases %}
                        {% for case in cases%}
                            <tr>
                                <td>
                                    {% if user.is_superuser %}
                                        <a class="plain-link" href="{% url 'case-delete' case.id %}">
                                            <button class="button no-border">
                                                <i class="material-icons">remove_circle</i>
                                            </button>
                                        </a>
                                    {% endif %}
                                </td>
                                <td>
                                    <a class="plain-link" href="{% url 'case-update' case.id %}">
                                        {{ case.caseName }}
                                    </a>
                                </td>
                                <td>{{ case.createDate|date:"F d Y, H:i" }}</td>
                                <td>{{ case.lastUpdate|date:"F d Y, H:i" }}</td>
                                <!--<td>
                                    <select class="select-field" onchange="location = this.value;">
                                        <option value="{% url 'recon' case.id %}">
                                            Recon
                                        </option>
                                        <option value="{% url 'analysis' case.id %}">
                                                Analysis
                                        </option>
                                    </select>
                                </td> -->
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td>
                                <button class="button no-border">
                                    <i class="material-icons">check_box_outline_blank</i>
                                </button>
                            </td>
                            <td>
                                <a class="plain-link" href="#">Example Case</a>
                            </td>
                            <td>Nov 12, 2021</td>
                            <td>Nov 19, 2021</td>
                            <td>
                                <button class="button no-border">
                                    <i class="material-icons">more_vert</i>
                                </button>
                            </td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>

           {% if is_paginated %}
                <div class="inner-card">
                    <div class="flex-row">
                        {% if page_obj.has_previous %}
                            <a href="?page=1" class="plain-link no-border button width-10">
                                <i class="material-icons md-18 no-padding">first_page</i>
                            </a>
                            <a href="?page={{ page_obj.previous_page_number }}" class="plain-link no-border button width-10">
                                <i class="material-icons md-18 no-padding">navigate_before</i>
                            </a>
                        {% endif %}

                        {% for num in page_obj.paginator.page_range %}
                            {% if page_obj.number == num %}
                                <a href="?page={{ num }}" class="plain-link no-border button width-10">{{num}}</a>
                            {% elif  num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                                <a href="?page={{ num }}" class="plain-link no-border button width-10">{{num}}</a>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}" class="plain-link no-border button width-10">
                                <i class="material-icons md-18 no-padding">navigate_next</i>
                            </a>
                            <a href="?page={{ page_obj.paginator.num_pages }}" class="plain-link no-border button width-10">
                                <i class="material-icons md-18 no-padding">last_page</i>
                            </a>
                        {% endif %}
                    </div>
                </div>
           {% endif %}
   </div>
{% endblock %}