{% extends 'core/base.html'%}
{% load crispy_forms_tags %}
{% load static %}

{% block js_includes %}
    <script src = "{% static 'core/js/image_preview.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
  <form class="card form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>New Case</h2>
        <h3><u>Details</u></h3>
        <div>
          {{ form.caseName.label_tag }}
          {{ form.caseName }}
        </div>

        <div>
          {{ form.organization.label_tag }}
          {{ form.organization }}
        </div>

        <div>
          {{ form.caseLead.label_tag }}
          {{ form.caseLead }}
        </div>

        <div>
          {{ form.orgHandler.label_tag }}
          {{ form.orgHandler }}
        </div>

        <div class="flex-row width-90">
            <h4><u>Assessment Type</u></h4>
            {% for option in form.assessmentType %}
                <span>
                  {{ option }}
                </span>
            {% endfor %}
        </div>

          <div>
              {{ form.scope.label_tag }}
              {{ form.scope }}
          </div>

          <div>
            <label for="{{ form.logo.id_for_label }}" class="custom-file-upload">
              <i class="material-icons">cloud_upload</i>
              Logo
              {{ form.logo }}
            </label>
          </div>

            <div id="preview">
                {% if form.instance.logo %}
                    <img src="{{form.instance.logo.url}}"
                    style="border: 2px solid lightgrey;
                    margin-left: auto; margin-right: auto; display: block;"/>
                {% endif %}
            </div>


          <div class="button-row">
            <a href="{% url 'cases' %}" class="button-link">
              <i class="material-icons md-18 no-padding">arrow_back</i>
              Back
            </a>
            <button type="submit" class="button" id="next">
              Next
              <i class="material-icons md-18 no-padding">arrow_forward</i>
            </button>
          </div>
        </form>
{% endblock %}