.form, .vertical-group{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.form > *{
  margin-bottom: 0.5rem;
}

.form label{
  float: left;
  text-align: left;
  margin-right: 1rem;
  width: 10rem;
}

.form .label-small{
  float: left;
  text-align: left;
  margin-right: 1rem;
  width: 5rem;
}

input:focus, textarea:focus, select:focus{
  box-shadow: 2px -2px 4px rgba(71, 135, 120, 0.8);
}

.bottom-border:focus{
  box-shadow: none;
  border-color: forestgreen;
  border-width: 1.5px;
}

input[type="radio"]:focus{
  box-shadow: none;
}
