/* tables */

table{
  width: 100%;
  align-items: center;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

th, td{
  border-bottom: 1px solid #999;
  padding: 0.25rem;
}

td.full-borders{
  border: thin solid #999;
}

th.full-borders{
  border: thin solid forestgreen;
}

th{
  background-color: rgba(71, 135, 120, 0.2);
  border-color: forestgreen;
  text-align: left;
}

.no-borders{
  border: none;
}