/* tables */
:root {
  --th-fill: rgba(71, 135, 120, 0.2);
  --table-border: #999;
}

table{
  width: 100%;
  align-items: center;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

th, td{
  border-bottom: 1px solid var(--table-border);
  padding: 0.25rem;
}

td.full-borders{
  border: thin solid var(--table-border);
}

th.full-borders{
  border: thin solid var(--button-border);
}

th{
  background-color: var(--th-fill);
  border-color: var(--button-border);
  text-align: left;
}

.no-borders{
  border: none;
}